:root {
    --Main: #cedcf4;
    --Main2: #e0eba5;
    --Main3: #ffebb2;
    --Main4: #e0d9fa;
    --Main5: #efefef;
  
    --Color: #1c1c1c;
    --Color2: #738801;
    --Color3: #ffba00;
    --Color4: #8b81b3;
    --Color5: gray;
  
    --BodyBackground: #fefcfc;
  }
